@charset "UTF-8";

* {
   font-family: Arial, Helvetica, sans-serif;
}

p {
   text-align: justify;
}

body {
   background-image: linear-gradient(to left, #057267, #02735e);
}

main {
   background-color: rgba(255, 255, 255, 0.973);
   width: 600px;
   padding: 10px;
   margin: auto;
   border-radius: 10px;
   box-shadow: 5px 5px 15px #02212ebe;
}

h1 {
   color: #0cf25d;
   text-align: center;
   text-shadow: 1px 1px 0px #09943ab6;
}

h2 {
   color: #038c3e;
}
